.colors-container {

    width: 100%;

    margin-top: 21px;

    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;

}

.list-sizes{
    display: flex;
}

.list-sizes .size-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inactive {
    opacity: 0.5;
    /* Делает элемент полупрозрачным */
    pointer-events: none;
    /* Отключает клики на неактивных элементах */
    cursor: not-allowed;
    /* Курсор в виде запрета */
}

.isDisplaySizes {
    display: none;
}

.color-list {
    margin-top: 30px;
}

.size-list {
    margin-top: 42px;
}

.size-list .size-button {
    margin-top: 21px;
    width: 64px;
    height: 64px;
    font-size: 19px;
}

@media (max-width:768px) {
    .color-list{
        margin-top: 9px;
    }
    .colors-container{
        margin-top: 0;
    }
}