.color-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 21px;
}
.inactive {
    opacity: 0.5; /* Делает элемент полупрозрачным */
    pointer-events: none; /* Отключает клики на неактивных элементах */
    cursor: not-allowed; /* Курсор в виде запрета */
}
