.login-form-head {
    font-size: 27px;
    margin-bottom: 60px;
}

.login-form-modal .modal-overlay .modal-content {
    padding: 60px;
}

.login-form-btns:first-child {
    background-color: black;
    color: white;
}

.login-form-info {
    margin-top: 60px;
}

@media (max-width:768px) {

    .login-form{
        width: 100%;
    }

    .login-form-modal .modal-overlay .modal-content {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-form-info{
        font-size: 12px;
        margin-top: 30px;
    }

    .login-form-head {
        font-size: 15px;
        width: 100%;
        margin-bottom: 15px;
    }
}