.size-button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .size-button.inactive {
    background-color: #f5f5f5;
    color: #aaa;
    cursor: not-allowed;
  }

  .size-button.active{
    background-color: black;
    color: white;
  }