.heart-container{
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.heart-container img {
    cursor: pointer;
    transition: filter 0.3s;
  }
  
  .heart-container img.liked {
    filter: invert(38%) sepia(80%) saturate(2183%) hue-rotate(330deg) brightness(95%) contrast(106%);
    fill: red;
  }
  