.heart-container {
  display: flex;
  height: max-content;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 7px;
}

.heart-container img {
  cursor: pointer;
  transition: filter 0.3s;
  width: 30px;
}

.product-item.main-page .heart-container {
  width: 30px;
  height: 30px;
}



@media (max-width:768px) {
  .product-item.main-page .heart-container {
    width: 20px;
    height: 20px;
  }

  .heart-container {
    top: 6px;
    right: 6px;
  }

  .heart-container img {
    width: 20px;
    height: 20px;
  }
}