.heart-container{
    display: flex;
    height: max-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.heart-container img {
    cursor: pointer;
    transition: filter 0.3s;
    width: 30px;
  }
  


  @media (max-width:768px) {
    .heart-container{
      top: 6px;
      right: 6px;
    }
    .heart-container img{
      width: 15px;
      height: 15px;
    }
  }
  