.color-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: transform 0.2s ease;
}

.color-circle:first-child {
    margin-left: 0;
}

.color-circle.active {
    border: 2px solid #000; /* Change to a color to highlight */
    transform: scale(1.1); /* Slightly enlarge to indicate selection */
}

.availability-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: green;
}

