.color-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative; /* Для размещения внутреннего круга */
}

.color-circle:first-child {
    margin-left: 0;
}

.color-circle.active {
    transform: scale(1.1); /* Увеличиваем размер */
    border: none; /* Убираем стандартную рамку */
    box-shadow: 
        0 0 0 3px #ffffff, /* Белая обводка */
        0 0 0 4px #000000; /* Тонкая черная рамка */
}

.color-circle.active::before {
    content: ''; /* Создаем внутренний круг */
    position: absolute;
    width: 60%; /* Размер внутреннего круга */
    height: 60%;
    background-color: inherit; /* Совпадает с фоном основного круга */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Поверх обводки */
}

.availability-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: green;
}

.isNotAvailability {
    position: relative;
    opacity: 0.5; /* Полупрозрачность */
    cursor: not-allowed; /* Указываем, что элемент недоступен */
}

.isNotAvailability::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    transform: rotate(-45deg);
    transform-origin: center;
    border: 4px #fff;
}

@media (max-width:768px) {
    .color-circle{
        width: 15px;
        height: 15px;
    }
    .color-list{
        margin-top: 6px;
    }

    .isNotAvailability::after{
        top: 44%;
        width: 99%;
    }
}
