

.cart-title {
    margin-bottom: 30px;
}

.cart-header{
    display: flex;
    justify-content: space-between;
}

.cart-product-description{
    font-size: 18px;
}

.cart-item-cost{
    font-size: 18px;
}

.cart-bottom-buttons{
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.cart-bottom-buttons a .cart-button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-left: 30px;
}

.promocode-form-block .cart-button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.cart-bottom-buttons a .cart-button:hover{
    background-color: white;
    color: black;
    border: 2px solid;
}

.promocode-form-block .cart-button:hover{
    background-color: white;
    color: black;
    border: 2px solid;
}

@media (max-width:768px) {


    .cart-title{
        font-size: 15px;
    }

    .cart-product-description{
        font-size: 12px;
        width: 90%;
    }

    .cart-item-cost{
        margin-top: 15px;
        margin-left: 20px;
    }

    .cart-modal-block{
        display: flex;
        flex-direction: column;
        
    }
    .cart-bottom-buttons{
        display: block;
    }
    .cart-bottom-buttons .cart-button{
        margin-left: 0;
        width: 100%;
        font-size: 15px;
        padding: 7px;
        border: 2px solid;
        height: 45px;
    }
    .cart-bottom-buttons a .cart-button{
        margin-left: 0;
        width: 100%;
        margin-top: 9px;
        font-size: 15px;
        padding: 7px;
        height: 45px;
    }
}