.cost-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cost-block p {
    margin: 0;
    margin-top: 18px;
}

.price{
    font-size: 25px;
}

.discount-price{
    font-size: 21px;
}

@media (max-width:768px) {
    .price{
        font-size: 11px;
    }

    .discount-price{
        font-size: 9px;
    }

    .cost-block p{
        margin-top: 3px;
    }
}