.name-heart a{
    display: flex;
    align-items: end;
    cursor: pointer;
}

.add-to-cart-btn-with-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 287px;
    height: 55px;
    background-color: black;
    color: white;
    margin-top: 45px;
    font-size: 21px;
}

.add-to-cart-btn-with-txt:hover{
    background-color: white;
    color: black;
    border: 2px solid;
}

@media (max-width:768px) {
    .add-to-cart-btn img{
        width: 10px;
        height: 10px;
    }
    .add-to-cart-btn-with-txt{
        width: 100%;
        font-size: 14px;
    }
}