.search-loupe{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .search-loupe img{
        display: none;
        width: 15px;
        height: 15px;
    }
}