.wish-list {
    list-style-type: none;
    overflow-y: auto;
}

.wish-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.wish-list li:first-child {
    margin-top: 0;
}

.wish-item-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.wish-product-description {
    width: 10%;
    margin-left: 20px;
}

.wish-list .wish-item .product-image img {
    width: 360px;
    height: 425px;
}

.bucket-img {
    cursor: pointer;
}

.wishlist-btns {
    display: block;
}

.wishlist-btns .cart-button {
    width: 100%;
}

.wishlist-btns .cart-button:last-child {
    background-color: black;
    color: white;
}

.wishlist-btns .cart-button:hover{
    background-color: black;
    color: white;
}

.wishlist-btns .cart-button:last-child:hover{
    background-color: white;
    color: black;
    border: 2px solid;
}

.wish-item-data .availability-text.none{
    color: red;
}

@media (max-width:768px) {

    .wish-item,
    .wish-list li {
        flex-direction: column;
        margin-top: 0;
        width: 47%;
    }

    .wish-item-data {
        display: block;
    }

    .wish-list .wish-item .product-image img, .wish-list .wish-item .product-image {
        width: 100%;
        height: 200px;
    }

    .wish-item {
        width: 150px;
        margin-bottom: 30px;
    }

    .wish-list {
        list-style-type: none;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .wish-product-description {
        font-size: 15px;
    }

    .bucket-img {
        margin-top: 10px;
        margin-left: 20px;
    }

    .wish-list .wish-item .wish-item-data .wish-product-description, .wish-item-cost {
        margin-left: 0;
        width: 100%;
        font-size: 10px;
        margin-top: 5px;
    }

    .wish-product-description-size-color{
        margin-top: 5px;
    }

    .wishlist-btns .cart-button {
        font-size: 10px;
        padding: 6px;
        border: 2px solid;
    }

    .wish-item-data .availability-text{
        font-size: 10px;
        margin-top: 5px;
        justify-content: flex-start;
    }

    .wishlist-btns{
        margin-top: 10px;
    }

    br {
        display: none;
    }
    .wishlist-btns .cart-button:last-child{
        margin-top: 9px;
    }
}

@media (min-width:770px) and (max-width:1350px) {
    .wish-list .wish-item .wish-item-data .wish-product-description {
        font-size: 14px;
    }
}