 .footer-element-text {
    font-size: 24px;
    font-family: 'Helvetica Neue Cyr Ultra Light';
    color: white;
}

@media (max-width: 768px) {
    .footer-element-text{
        font-size: 15px;
    }
}