.notification {
    position: absolute;
    width: 150px;
    text-align: center;
    left: 50%;
    /* Центрируем уведомление */
    transform: translateX(-50%);
    /* Центрируем относительно родителя */
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.right-header-el-count-block {
    position: relative;
    width: max-content;
    display: flex;
    margin: 0 auto;
}

/* Псевдоэлемент для треугольника */
.notification::after {
    content: '';
    position: absolute;
    top: -10px;
    /* Положение треугольника выше блока уведомления */
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    /* Цвет треугольника, совпадает с фоном уведомления */
}


.right-header-el {
    position: relative;
    cursor: pointer;
}

.right-header-el-count {
    position: absolute;
    background-color: #8F8D8D;
    border-radius: 30px;
    width: 13px;
    height: 13px;
    font-size: 9px;
    top: -6px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-header-el {
    cursor: pointer;
}

.right-header-el .header-label{
    margin-top: 3px;
}

@media (max-width: 1100px) {
    .right-header-el .header-label {
        font-size: 10px;
    }
}

@media (max-width: 900px) {
    .right-header-el .header-label {
        display: none;
    }
}

@media (max-width: 768px) {

    .right-header-el .header-label {
        display: none;
    }

    .right-header-el {
        position: unset;
    }

    .notification {
        width: 100%;
        font-size: 12px;
        border-radius: 0;
    }

    .notification::after {
        content: '';
        position: absolute;
        top: -10px;
        /* Положение треугольника выше блока уведомления */
        left: 50%;
        transform: translateX(-50%);
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 0px solid black;
        /* Цвет треугольника, совпадает с фоном уведомления */

    }

    .right-header-el-count {
        position: absolute;
        background-color: #8F8D8D;
        border-radius: 30px;
        width: 10px;
        height: 10px;
        font-size: 9px;
        top: -4px;
        right: -2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}