.footer-block {
    height: auto;
    background-color: black;
    margin-top: 80px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    width: 100%;
    height: 100%;
}

.footer-logo-block {
    display: flex;
    justify-content: center;
}

.footer-logo-block img {
    width: 86px;
    height: 86px;
}

.head-footer{
    display: flex;
    justify-content: space-between;
}

.social-network{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-network img{
    width: 34px;
    height: 33px;
}

.social-network-el-block{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    
}

.social-network-el-txt{
    margin-left: 11px;
    font-family: 'Helvetica Neue Cyr Ultra Light';
}

.bottom-footer {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.bottom-footer-col{
    margin-left: 50px;
}

.bottom-footer-col:first-child{
    margin-left: 0;
}

@media (max-width: 768px) {
    .bottom-footer{
        display: block;
    }
    .footer-container{
        padding: 30px;
    }
    .footer-logo-block img{
        margin: 0;
    }
    .bottom-footer-col{
        margin-left: 0;
    }
}