.delivery-info-profile-selects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.delivery-info-profile-selects form{
    width: 100%;
}

.delivery-info-profile-selects .css-b62m3t-container{
    width: 342px;
}

.delivery-info-profile-selects .css-b62m3t-container .css-13cymwt-control{
    padding: 5px 0 5px 18px;
    width: 342px;
    font-size: 18px;
}

.delivery-info-bottom-select{
    margin-top: 21px;
}

.delivery-info-profile-selects{
    margin-top: 0px;
}

.delivery-info-profile-block{
    margin-top: 0px;
}

.delivery-info-head{
    font-size: 24px;
}

.delivery-info-profile-selects .css-b62m3t-container .css-13cymwt-control:hover{
    padding: 5px 0 5px 18px;
    width: 342px;
    font-size: 18px;
}

@media (max-width:768px) {
    .register-order-form .delivery-info-bottom-select{
        margin-top: 0;
        width: 100%;
    }
}