.main{
    display: flex;
}

.filter-block{
    width: 260px;
}

.product-list-block{
    width: 90%;
    margin: 0 0px 0 30px;
}

.catalog-page-container{
    width: 90%;
    margin: 0 auto;
}

@media (max-width:768px) {
    .product-list-block{
        width: auto;
        margin: 0;
    }
    .filter-block{
        position: absolute;
        z-index: 1000;
    }
}