.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: black;
    color: white;
}

.header-bottom-block {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 10px #8F8D8D40;
}

.header-bottom {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: white;
}

.right-elements-block {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.left-elements-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.search-block {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

@keyframes cart-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Подпрыгивание */
    }
  }
  
  .cart-icon {
    position: relative;
    transition: transform 0.3s ease;
  }
  
  /* Класс для анимации */
  .cart-bounce {
    animation: cart-bounce 0.5s ease-in-out;
  }
  

@media (max-width: 768px) {
    .header-bottom {
        width: 95%;
        height: 50px;
    }

    .header-top p{
        font-size: 10px;
    }

    .left-elements-block {
        width: 30%;
    }

    .right-elements-block {
        width: 30%;
    }
    .search-block{
        width: 100%;
        margin-left: 11px;
    }
    /* .header{
        position: unset;
    } */
}