.right-header-img{
    display: flex;
    align-items: center;
    justify-content: center;

}    

.right-header-img img{
    width: 24px;
    height: 22px;
    cursor: pointer;
}

@media (max-width:768px) {
    .right-header-img img{
        width: 20px;
        height: 18px;
    }
}