.filter-checkbox-x {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 16px;
  cursor: pointer;
}

.filter-checkbox-x input {
  display: none; /* Скрываем стандартный чекбокс */
}

.color-indicator {
  width: 27px;
  height: 27px;
  border-radius: 50%; /* Круглая форма */
  border: 2px solid #000; /* Цвет рамки */
  margin-right: 8px;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}

.filter-checkbox input:checked + .color-indicator {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-color: #007bff; /* Изменение рамки при выборе */
}
