.filter-checkbox-x {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 16px;
  cursor: pointer;
}

.filter-checkbox-x input {
  display: none; /* Скрываем стандартный чекбокс */
}

.color-indicator {
  width: 27px;
  height: 27px;
  border-radius: 50%; /* Круглая форма */
  margin-right: 8px;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}

.filter-checkbox-x input:checked + .color-indicator {
    box-shadow: 
    0 0 0 2px #ffffff, /* Белая обводка */
    0 0 0 3px #000000; /* Черная тонкая граница */
  border-color: transparent; /* Убираем рамку */
  border: 2px solid #ffffff; /* Цвет рамки */

}

@media (max-width:768px) {

  .filter-checkbox-x{
    font-size: 12px;
    font-family: "Helvetica Neue Cyr Thin";
  }
  .filter-head{
    font-size: 14px;
    margin-top: 15px;
  }

  .filter-checkbox input{
    width: 15px;
    height: 15px;
  }

  .filter-checkbox{
    font-size: 14px;
  }
}