.cart-list {
    list-style-type: none;
    height: auto;
    /* overflow-y: auto;
    max-height: 570px; */
}

.register-order-block .cart-list li{
    align-items: start;
}

.register-order-block .cart-list {
    list-style-type: none;
    height: auto;
    overflow-y: auto;
    max-height: 420px;
}

.register-order-block .cart-item{
    position: relative;
}

.register-order-block .cart-item-data {
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.register-order-block .cart-product-description {
    font-family: "Helvetica Neue Cyr Thin";
    font-size: 21px;
    width: 80%;
}

.register-order-block .cart-product-description-size-color{
    font-size: 21px;
    font-family: "Helvetica Neue Cyr Thin";
}

.register-order-block .bucket-img {
    position: absolute;
    top: 0;
    right: 0;
}

.register-order-block .cart-item-cost{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 21px;
}

.cart-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.cart-list li:first-child {
    margin-top: 0;
}

.cart-item-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-product-description {
    width: 45%;
    margin-left: 20px;
}

.cart-list .cart-item .product-image img {
    width: 120px;
    height: 170px;
}

.bucket-img {
    cursor: pointer;
}

@media (max-width:768px) {
    .cart-item-data {
        display: block;
    }

    .cart-product-description {
        font-size: 15px;
    }

    .bucket-img {
        margin-top: 30px;
        margin-left: 20px;
    }
    
}

@media (min-width:770px) and (max-width:1350px) {
    .cart-list .cart-item .cart-item-data .cart-product-description {
        font-size: 14px;
    }
}