.minPrice, .maxPrice{
    width: 60px;
    height: 27px;
    text-align: center;
    border: 1px solid #C3C1C1;
    border-radius: 4px;
}

.minPrice{
    margin-right: 6px;
}

.maxPrice{
    margin-left: 6px;
}

.minPrice::-webkit-inner-spin-button,
.minPrice::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.maxPrice::-webkit-inner-spin-button,
.maxPrice::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media (max-width:768px) {
  .minPrice, .maxPrice{
    width: 81px;
    height: 30px;
  }
}