.cost-article {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-item{
    width: max-content;
    margin-top: 30px;
}

.cost-addBtn{
    display: flex;
    justify-content: space-between;
}

.name-heart{
    display: flex;
    justify-content: space-between;
}