.cost-article {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-item{
    width: 360px;
    margin-top: 30px;
    position: relative;
    margin-left: 24px;
}

.cost-addBtn{
    display: flex;
    justify-content: space-between;
}

.name-heart{
    display: flex;
    justify-content: space-between;
}